*{
    color: white;
    border-color: yellow;
    border: 2px;
    border-style: double;
}
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--main {
    font-size: 50px;
    font-weight: normal;
}
.link--cta{
    color: aquamarine;
    font-size: 16px;
}